body {
    margin: 0;
    padding: 0;
    background-color: rgb(234, 234, 234);
    font-family: 'open sans', Verdana, sans-serif;
    color: black;
    text-align: center;
}
img {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50% auto;
}

.form__input {
    display: block;
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 69, 3);
    padding: 1rem 1.5rem;
    margin: 2em;    
}

.header {
    align-items: center;
    position: relative;
    background-image: url('/images/photo-1542273917363-3b1817f69a2d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50%;
}
.header-nav-bar {
    margin: auto;
    width: 100%;
    padding: 5px;
    color: black;
    bottom: 0%;
}
.header-nav-bar a {
    padding: 0 5%;
    text-transform: uppercase;
    text-decoration: none;
}

nav li {
    display: inline-block;
}

a {
    color: black;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10%;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0%;
}

.active {
    background-color: black;
    color: #ffffff;
}

.image {
    max-height: 50%;
    max-width: 50%;
}
.banner {
    width: 100%;
}
.banner-image {
    height: 40%;
    width: 40%;
}
.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio-buttons{
    display: flex;
    justify-content: center;
}
.radio{
    padding: 0 1rem;
    display: flex;
    flex-flow: column-reverse;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16%;
    font-size: 16%;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160%;
    box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12% 16%;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

footer::before,
footer::after {
    color: #1f7e01;
    font-size: 30%;
}
